
body {
  background-color: #002;
  color: white;
  font-family: 'Nova Square', cursive;
  margin: 0;
  padding: 0;
}

a {
  color: #DDF;
}

#game {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 2000;
}

header, #header {
  padding: 2px 10px;
  h1 {
    margin: 0;
    padding: 0;
  }
  z-index: 200
}
footer, #footer {
  position: fixed;
  bottom: 0;
  padding: 2px 10px;
  z-index: 200;
}


#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  span {
    position:absolute;
    z-index: 1 !important;
  }
}