@import "mixins";

input[type="text"] {
  background-color: #DDF;
  color: #000;
  font-size: 18px;
  line-height: 1em;
  padding: 8px 4px 8px 4px;
  width: 200px;
}
$boxwidth: 300px;
.view {
  height: 100%;
  &.start {
    width: $boxwidth;
    margin: 100px auto;
    .tagline {
      font-size: 20px;
      letter-spacing: 2px;
    }
    form {
      @include round_borders;
      padding: 0 10px 5px 10px;
      width: $boxwidth;
      background-color: rgba(0,0,40,0.9);
    }
    input {
      margin: 4px 0;
    }
    input[type="text"] {
      width: $boxwidth - 12px;
    }
    input[type="submit"] {
      float: right;
      border: 2px solid #AAF;
      background-color: #226;
      color: white;
      font-size: 14px;
      line-height: 1em;
      padding: 4px 8px 4px 8px;
    }
  }
}

