<div data-role="view" name="start">
  <form action="#" name="#">
    <input type="text" name="player_name" placeholder="Player" />
    <input type="submit" href="#" id="start" value="start the game" />
  </form>
</div>
