<div data-role="view" class="view start" name="start">
  <form action="#" name="#">
    <p class="tagline">
      <strong>Typedown.</strong>
      <br />A game about typing.
      <br />Fast. Stupidious. Endless.
    </p>
    <p>
      <em>Your mission is to countdown, again and again from increasing numbers.</em>
    </p>
    <p>
      <!--
      <input type="text" name="player_name" placeholder="Player" />
      <br />
      -->
      <input type="submit" href="#" id="start" value="start the game" />
    </p>
  </form>
</div>
